<center><h2>My Goal Is</h2>
	<div id="msg" style="color:red;"></div>
  <%= form_tag goals_path, method: "post" do %>
		<%= label_tag(:title, "Title") %>
		<%= text_field_tag(:title) %><br>
		<%= label_tag(:from, "From :") %>
		<%= text_field_tag(:from) %><br>
		<%= label_tag(:to, "To :") %>
		<%= text_field_tag(:to) %><br>
	<%= submit_tag "Next", :onclick => 'test(); return false;' %>
	<%end%>
	</div>
	<script>
	function test()
	{
		if ($('#title').val() == ''){
			$('#msg').show();
			$('#msg').text('Please Enter Title');
		}else if($('#from').val() == ''){
			$('#msg').show();
			$('#msg').text('Please Enter From Date');
		}
		else if($('#to').val() == ''){
			$('#msg').show();
			$('#msg').text('Please Enter To Date');
		}else{

			$$('#new_goal').submit();
		}
		
	}
	</script >
